[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg

package-name = sc.embedder
package-extras = [test]
package-min-coverage = 95
test-eggs = Pillow

parts +=
    createcoverage
    i18ndude
    node
    omelette
    rebuild_i18n-sh

[code-analysis]
directory = ${buildout:directory}/src/sc/embedder
pre-commit-hook = True
flake8-ignore = E501
csslint = True
csslint-bin = bin/csslint
jshint = True
jshint-bin = bin/jshint
debug-statements = True
prefer-single-quotes = True
return-status-codes = False

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755

[versions]
# use latest version of setuptools
setuptools =
