/* Css for Multimedia content type */
.template-sc\.embedder\.multimedia #formfield-form-widgets-width{
    float: left;
    margin-right: 10px;
}

.template-sc\.embedder\.multimedia #formfield-form-widgets-width input,
.template-sc\.embedder\.multimedia #formfield-form-widgets-height input{
    width: 100px;
}

.template-sc\.embedder\.multimedia #formfield-form-widgets-height{
    display: inline;
    width: 100px;
}

/* html.js body.template-sc.embedder.multimedia div#visual-portal-wrapper div#portal-columns.row div#portal-column-content.cell div div#content div#content-core form#form.rowlike fieldset#fieldset-default.formPanel div#formfield-form-widgets-width.field input#form-widgets-width.text-widget */